[SddmGreeterTheme]
Name=Hypr SDDM
Description=A clean, modern, and minimal SDDM theme inspired by hyprlock.
Author=adior_enigmac
Copyright=(c) 2026 adior
License=MIT
Type=hypr-theme
Version=3.0
MainScript=Main.qml
Screenshot=screenshot.png
QtVersion=6
X-SDDM-Theme-InterfaceVersion=2
